spring:
  cloud:
    aws:
      s3:
        bucket: ${S3_BUCKET_NAME} # 버킷 이름
      region:
        static: ap-northeast-2 # 서울 리전
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}